.containerSection{
    margin: 2rem 0;
    border-color: var(--strongPurpleW);
    border-width:0.2rem;
}
.cardBody{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
}
.iconSection{
    width: 10rem;
    height: 10rem;
    padding:1rem;
}

