.containerSection{
    margin: 2rem 0;
    border-color: var(--strongPurpleW);
    border-width:0.2rem;
}
.cardBody{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
}
.button{
    color:#ffffff;
    font-size: 1.3rem;;
    background-color: var(--strongPurpleW);
    border-color: var(--strongPurpleW);
    border-radius: 30px;
    text-decoration: none;
}
.textLabelStyle{
    width: 11rem;
    color: var(--text-color-primary);
}
@media only screen and (max-width : 900px) {
    .title{
      font-size: 2rem;
    }
    .text{
      font-size: 1.2rem;
    }
    .containerTextLabel{
        display:flex;
        width: 100%;
    }
    .textLabelStyle{
        width: 100%;
        flex-wrap: wrap;
    }
}