.page{
  background: #ffffff;
}
.containerSection{
    background-color:#d0fcf3;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.title{
    color: var(--secondary-color);
    font-size: 3.4rem;
    font-weight: 500;
    display:flex;
    justify-content: center;
  }
.text{
    color:  var(--third-color);
    font-size: 2rem;
    text-align:center;
}