.containerSection{
    background-color: var(--back-color-primary);
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.title{
    color:  var(--text-color-primary);
    font-size: 3.4rem;
    font-weight: 500;
    display:flex;
    justify-content: center;
  }
.text{
    color:  var(--text-color-secondary);
    font-size: 2rem;
    text-align:center;
}