.container{
    display: flex;
    justify-content: space-between;
    margin:0.8rem;
}
.navbarLogo{
    width: 00px; 
    height: 60px; 
}
.button{
    width: 100px; 
    height: 80px;
    margin: 1rem;
}
.options{
    display: flex;
    justify-content: flex-end;
}
  
@media only screen and (max-width : 900px) {
    .container{
        display: flex;
        justify-content: space-between;
        margin:0.8rem;
    }
    .navbarLogo{
        width: 100px; 
        height: 30px; 
    }
    .button{
        width: 50px; 
    }
    .brand{
        display: flex
    }
    .button{
        margin: 0 0.8rem;
    }
}