@font-face {
    font-family: "Everett-bold";
    src: url("../../styles/font/TWKEverett-Bold.otf");
    font-weight:800;
}
@font-face {
    font-family: "Everett-medium";
    src: url("../../styles/font/TWKEverett-Medium.otf");
    font-weight:800;
}
@font-face {
    font-family: "Everett-regular";
    src: url("../../styles/font/TWKEverett-Regular.otf");
    font-weight:800;
}
.container{
    display:flex;
    justify-content: space-between;
    margin: 1rem;
}
.containerContacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Everett-medium"
}
.adress{
    width:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "Everett-medium"
}
.textHeading {
    color: #320093;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-family: "Everett-medium";
}
.textLine{
    color: #6700ff;
    font-size: 0.8rem;
    margin:0px;
    font-family: "Everett-medium";
}
.logosSocial {
    display: flex;
}
.iconSocial{    
    margin:0.8rem
}