.containerSection{
    background-color: var(--back-color-secondary);
    margin: 2rem 0;
}
.cardBody{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
}
.iconAdn{
    width: 8rem;
    height: 8rem;
    padding:1rem;
}
.img-semblanzas{
    width: 30rem;
    height: 45rem;
}