.containerSection{
    margin: 2rem 0;
    border-color: var(--strongPurpleW);
    border-width:0.2rem;
}
.cardBody{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content:center;
}
.iconAdn{
    width: 8rem;
    height: 8rem;
    padding:1rem;
}
.img-semblanzas{
    width: 30rem;
    height: 45rem;
}
@media only screen and (max-width : 900px) {
    .title{
      font-size: 2rem;
    }
    .text{
        font-size: 1.2rem;
    }
    .iconAdn{
        width: 4rem;
        height: 4rem;
        padding:0.6rem;
    }
    .imgSemblanzas{
        width: 280px;
        height: 420px;
    }
}